@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Define variables to use in light theme */
  --foreground-rgb: 0, 0, 0;
  --background-main: #f5f5f5;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Define the same variables as in root but for dark theme */
    --foreground-rgb: 255, 255, 255;
    --background-main: #333;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
